﻿@model Proligence.Collections.Settings.CollectionSettings
    <fieldset>
    <div>
        @Html.LabelFor(m => m.OfPart, @T("Contains items with part"))
        @Html.DropDownListFor(m => m.OfPart, Model.AvailableParts)
        @Html.ValidationMessageFor(m => m.OfPart, "*")
        <span class="hint">@T("Choose a Collectible part to allow adding all available types.")</span>
    </div>
    <div>
        @Html.LabelFor(m => m.OfType, @T("Contains items of type"))
        @Html.DropDownListFor(m => m.OfType, Model.AvailableTypes)
        @Html.ValidationMessageFor(m => m.OfType, "*")
        <span class="hint">@T("Type must have a Collectible part attached in order to show here.")</span>
    </div>
        <div>
        @Html.CheckBoxFor(m => m.AllowAdding)
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.AllowAdding)">@T("Allow adding items to the collection?")</label>
        @Html.ValidationMessageFor(m => m.AllowAdding, "*")
    </div>
        <div>
        @Html.CheckBoxFor(m => m.AllowRemoving)
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.AllowRemoving)">@T("Allow removing items from the collection?")</label>
        @Html.ValidationMessageFor(m => m.AllowRemoving, "*")
    </div>
    </fieldset>

