@using Orchard.ContentManagement
@using Orchard.ContentManagement.Aspects
@using Proligence.Collections.Models
@using Proligence.Collections.Settings
@model Proligence.Collections.Models.CollectionPart
@{
    Style.Require("WidgetsAdmin");
    var returnUrl = Request.RawUrl;
    int count = Model.Items == null ? 0 : Model.Items.Count();
    int countAv = Model.AvailableItems == null ? 0 : Model.AvailableItems.Count();
    MvcHtmlString classAttr = null;
    if (count == 0)
    {
        classAttr = new MvcHtmlString(" class=\"widgets-none\"");
    }

    MvcHtmlString classAttrAv = null;
    if (countAv == 0)
    {
        classAttrAv = new MvcHtmlString(" class=\"widgets-none\"");
    }

    var settings = Model.Settings.GetModel<CollectionSettings>();
}
@if (Model.Items == null)
{
    <fieldset>
        <legend>@T("Collection settings")</legend>
        <div>
            <i>@T("<b>This item is a collection</b>. It means that you can add existing content items to it.")</i></div>
        <div>
            <i>@T("You will be able to add items to this collection after creating it, in \"Edit\" screen.")</i></div>
    </fieldset>
}
else
{
    <div id="widgets-placement">
        <div id="widgets-layers" class="widgets-container detail-view switchable">
            <div id="widgets-zones" class="widgets-listed">
                <ol>
                    <li@(classAttr)>
                        <h2>@T("Collection Items")</h2>
                        <ul class="widgets-zone-widgets">
                            @if (count > 0)
                            {
                                int i = 0;
                                foreach (var item in Model.AllItems)
                                {
                                <li class="widgets-this-layer">
                                        <h3>@Html.ItemAdminLink(T(item.Item2.As<ITitleAspect>().Title).Text, item.Item2.ContentItem)</h3>
                                        <div class="widgets-actions">
                                            @if (settings.AllowRemoving)
                                            {
                                                @Html.Link(T("Remove").Text, Url.Action("Remove", "Admin", new { Area = "Proligence.Collections", recordId = item.Item1.Id, returnUrl }), new { @class = "link", itemprop = "UnsafeUrl" })
                                            }
                                        </div>
                                        <div class="widgets-move-somewhere">
                                            <a href="@Url.Action("MoveUp", "Admin", new { Area = "Proligence.Collections", returnUrl, recordId = item.Item1.Id })" @(new MvcHtmlString(i == 0 ? "disabled='disabled'" : "")) class="widgets-move widgets-move-up" itemprop="UnsafeUrl">@T("Move up")</a>
                                            <a href="@Url.Action("MoveDown", "Admin", new { Area = "Proligence.Collections", returnUrl, recordId = item.Item1.Id })" @(new MvcHtmlString(++i == count ? "disabled='disabled'" : "")) class="widgets-move widgets-move-down" itemprop="UnsafeUrl">@T("Move down")</a>
                                        </div>
                                </li>
                                }
                            }
                        </ul>
                    </li>
                    @if (settings.AllowAdding)
                    {
                        <li@(classAttrAv)>
                            <h2>@T("Available Items")</h2>
                            <ul class="widgets-zone-widgets">
                                @if (countAv > 0)
                                {
                                    foreach (var item in Model.AvailableItems)
                                    {
                                    <li class="widgets-other-layer">
                                        @using (Html.BeginFormAntiForgeryPost())
                                        {
                                            <h3>@Html.ItemAdminLink(T(item.As<ITitleAspect>().Title).Text, item.ContentItem)</h3>
                                            <div class="widgets-actions">
                                                @if (settings.AllowAdding)
                                                {
                                                    @Html.Link(
                                                        T("Add to collection").Text, 
                                                        Url.Action(
                                                            "Add", 
                                                            "Admin", 
                                                            new { Area = "Proligence.Collections", itemId = item.Id, collectionId = Model.ContentItem.Id, returnUrl }), 
                                                        new { @class = "link", itemprop = "UnsafeUrl" })
                                                }
                                            </div>
                                            <div class="widgets-move-somewhere">
                                            </div>
                                        }
                                    </li>
                                    }
                                }
                            </ul>
                        </li>
                    
                    }
                </ol>
            </div>
        </div>
    </div>
}
